body {
    font-family: sans-serif;
    padding: 1em;
}

p {
    text-align: justify;
    hyphens: auto;
}

li {
    hyphens: auto;
}

code {
    font-size: 120%;
}

h1.title {
    font-size: 200%;
    text-align: center;
}

h1.subtitle {
    font-size: 140%;
    text-align: center;
}

p.author {
    font-size: 100%;
    text-align: center;
    font-weight: normal;
}

p.date {
    font-size: 100%;
    text-align: center;
    font-weight: normal;
}

h1 {
    font-size: 140%;
}

h2 {
    font-size: 120%;
}

th,tr.even {
    background-color: #eee;
}

th,td {
    padding: 5px;
}
